body {
    background-color: #FCFCFC;
    margin: 0;
}

#container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

#login-form {
    background-color: #FFFFFF;
    border-radius: 43px 43px 43px 43px;
    box-shadow: -1px 6px 15px 11px rgba(0,0,0,0.73);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: lighter;
    height: 250px;
    justify-items: center;
    padding: 50px;
    text-align: center;
    width: 300px;
}

input {
    width: 100%;
}

button {
    align-items: center;
    background-color: #419dfa;
    border-color: #419dfa;
    border-radius: 43px 43px 43px 43px;
    box-shadow: -1px 3px 4px 3px rgba(0,0,0,0.09);
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    justify-content: center;
    margin: 20px 4px;
    padding: 4px 100px;  
}
